@*@GeneratedCode*@
@model QuickTemplate.AspMvc.Models.Test.Company

<tr>
 <td>
  @Html.DisplayFor(model => model.Name)
 </td>
 <td>
  @Html.DisplayFor(model => model.Address)
 </td>
 <td>
  @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
  @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
  @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
 </td>
</tr>
